@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles go here */
body,
html,
#__next {
  @apply h-full scroll-smooth;
  overscroll-behavior: none;
}

#__next > footer {
  top: 100vh;
  position: sticky;
}

/* Text Styles */
h1,
h2,
h3 {
  @apply font-secondary font-bold text-gray-charcoal;
}

h4,
.eyebrow {
  @apply font-primary font-bold text-m1 lg:text-m2;
}

h1 {
  @apply text-xl1 lg:text-xl2;
}

h2 {
  @apply text-l2 lg:text-xl1;
}

h3 {
  @apply text-m2 lg:text-l1;
}

.eyebrow {
  @apply uppercase;
}

p {
  @apply font-primary text-gray-charcoal pb-4 last:pb-0;
}

.rich-text-ul,
.rich-text-ol {
  font-family: theme("fontFamily.primary");
  padding-bottom: theme("spacing.4");
}

.rich-text-ul {
  list-style-type: disc;
}

.rich-text-ol {
  list-style-type: decimal;
}

.rich-text-ul li,
.rich-text-ol li {
  margin-left: theme("spacing.4");
}

.rich-text-ul li::marker,
.rich-text-ol li::marker {
  font-family: theme("fontFamily.primary");
}

.rich-text-ul li p,
.rich-text-ol li p {
  @apply py-0 leading-7;
}

.rich-text-ul li p {
  @apply text-m1;
}
/* End Text Styles */

/* Call to Action */
.primary-link,
.secondary-link,
.ghost-link {
  @apply uppercase transition-all duration-200 text-primary-1 font-primary;
}
.primary-link,
.ghost-link {
  @apply px-5 py-2.5 border-2 border-tertiary-1 rounded-sm;
}

.primary-link {
  @apply bg-tertiary-1 hover:bg-secondary-1 hover:border-secondary-1 hover:text-white;
}

.secondary-link {
  @apply border-b-2 border-b-tertiary-1 hover:border-b-secondary-1;
}

.ghost-link {
  @apply hover:bg-tertiary-1;
}

.inline-link {
  @apply font-primary underline hover:no-underline;
}

.phone-link,
.chat-link {
  @apply text-base font-primary font-medium text-white underline underline-offset-4 decoration-tertiary-1 decoration-2 hover:decoration-secondary-1 flex gap-2 items-center w-max;
}

.phone-link::before,
.chat-link::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.phone-link::before {
  background-image: url("public/assets/cta-icons/phone.svg");
  width: 15px;
  height: 22px;
}
.chat-link::before {
  background-image: url("public/assets/cta-icons/chat-bubble.svg");
  width: 15px;
  height: 15px;
}

/* End Call to Action */

/* Footer */
.social-icon path {
  fill: white;
  transition-property: all;
  transition-duration: 200ms;
}

.social-icon:hover path {
  fill: theme("colors.secondary.1");
}
/* End Footer */

/* Main Menu */
/* prevent CTA btn from wrapping right at lg breakpoint */
header nav ~ a {
  white-space: nowrap;
}

/* Top Level Menu Items */
.menu > ul > li.top-level {
  color: white;
  font-size: theme("fontSize.l1");
  font-family: theme("fontFamily.secondary");
  white-space: nowrap;
  padding-bottom: 40px;
  position: relative;
  width: 100%;

  @apply last:pb-0 xl:text-primary-1 xl:text-base xl:font-primary xl:uppercase xl:p-4 xl:hover:bg-secondary-2;
}

.menu > ul > li.top-level > .nonlinked,
.menu > ul > li.top-level > a {
  cursor: pointer;
  @apply hover:underline hover:xl:no-underline;
}

.menu > ul:has(.open-second-level) {
  transform: translateX(-100%);

  @apply xl:translate-x-0;
}
.menu > ul > .open-second-level {
  transform: translateX(100%);

  @apply xl:translate-x-0;
}

.menu > ul {
  transition: all;
  transition-duration: 200ms;

  @apply xl:flex;
}

.menu .top-level > .nonlinked {
  display: flex;
  gap: 8px;
  align-items: center;
}

.menu .top-level.open-second-level > .nonlinked {
  gap: 24px;
}

.menu .top-level.open-second-level > .nonlinked::before {
  content: "";
  mask: url("public/assets/right-chevron.svg") no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask: url("public/assets/right-chevron.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 12px;
  background-color: white;
  transform: rotate(180deg);

  @apply xl:hidden;
}

.menu .top-level > .nonlinked::after {
  content: "";
  mask: url("public/assets/right-chevron.svg") no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask: url("public/assets/right-chevron.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 12px;
  background-color: white;

  @apply xl:w-3 xl:h-2.5 xl:-translate-y-1 xl:bg-secondary-1 xl:rotate-90;
}

.menu .top-level.open-second-level > a::after,
.menu .top-level.open-second-level > .nonlinked::after {
  display: none;
  @apply xl:block;
}

.menu > ul:has(.open-second-level) > .top-level:not(.open-second-level) {
  display: none;

  @apply xl:block;
}

@screen xl {
  .menu > ul > .top-level:hover > ul {
    position: absolute;
    background-color: theme("colors.secondary.2");
    padding: 25px 17px;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .menu > ul > .top-level:hover > ul > li.second-level {
    display: block;
  }

  .menu > ul > .open-second-level:hover > ul > li.second-level > a {
    display: block;
  }
  .menu > ul > .top-level > ul > li.second-level > a {
    @apply border-b-2 border-b-tertiary-1 hover:border-b-secondary-1 transition-all duration-200;
  }
}

/* Second Level Menu Items */
.menu > ul > .open-second-level > ul > li.second-level > a {
  display: block;
  color: white;
  font-family: theme("fontFamily.primary");
  font-size: theme("fontSize.base");
  margin-top: theme("spacing.7");
  width: max-content;
  border-bottom-width: 2px;
  text-decoration-line: none;
  margin-left: 32px;

  @apply xl:text-primary-1 xl:ml-0 border-b-primary-1 xl:hidden hover:border-b-tertiary-1 xl:border-b-tertiary-1 xl:hover:border-b-secondary-1 xl:mt-0;
}

.menu ul > .top-level:hover > ul > li.second-level > a {
  text-decoration-line: none;
}

.menu > ul > .top-level:not(.open-second-level) > ul > .second-level {
  transform: translateX(100%);
  display: none;

  @apply xl:translate-x-0;
}

/* Hamburger button */
.hamburger-btn rect {
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease-in-out;
}

.hamburger-btn svg.open .top-line {
  transform: rotate(45deg);
  transform-origin: center top;
  x: 12px;
  y: 12px;
  fill: white;
}

.hamburger-btn svg.open .middle-line {
  opacity: 0;
}

.hamburger-btn svg.open .bottom-line {
  transform: rotate(-45deg);
  transform-origin: center top;
  x: -12px;
  y: 12px;
  fill: white;
}
/* End Hamburger button */
/* End Main Menu */

/* Search Bar */
.searchbar::before {
  content: "";
  width: 11px;
  height: 11px;
  background-image: url("public/assets/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.searchbar input {
  width: 100%;
  font-family: theme(fontFamily.primary);
  padding-left: 1rem;
  font-size: theme("fontSize.base");
  background-color: transparent;
  border-bottom: 0.5px solid theme("colors.secondary.1");
}

.dark-searchbar-input {
  color: theme("colors.primary.1");
}

.light-searchbar-input {
  color: white;
}

input::placeholder {
  font-family: theme(fontFamily.primary);
  font-size: theme("fontSize.base");
}

.dark-searchbar-input::placeholder {
  color: theme("colors.primary.1");
}

.light-searchbar-input::placeholder {
  color: white;
}
/* End Search Bar */

/* Breadcrumbs */
.crumb::after {
  content: url("public/assets/bc-arrow.svg");
  position: absolute;
  right: 0.5rem;
}
/* End Breadcrumbs */

/* Image and Content */
.image-and-content-section:has(.nested-image-and-content-components) .image-and-content-image {
  margin-bottom: 0px;
}

.image-and-content-section:has(.nested-image-and-content-components) .image-and-content {
  border-bottom: 0px;
}
/* End Image and Content */

/* Divider */
.page-content > .content-divider {
  @apply px-5;
}
/* End Divider */

/* CTA Banner */
#__next:has(.cta-banner-section),
.page-content:has(.cta-banner-section) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cta-banner-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
/* End CTA Banner */
