@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles go here */
body,
html,
#__next {
  @apply h-full scroll-smooth;
  overscroll-behavior: none;
}

#__next > footer {
  top: 100vh;
  position: sticky;
}

/* Text Styles */
.rich-text-ul,
.rich-text-ol {
  font-family: theme("fontFamily.primary");
  padding-bottom: theme("spacing.4");
}

.rich-text-ul {
  list-style-type: disc;
}

.rich-text-ol {
  list-style-type: decimal;
}

.rich-text-ul li,
.rich-text-ol li {
  margin-left: theme("spacing.4");
}

.rich-text-ul li::marker,
.rich-text-ol li::marker {
  font-family: theme("fontFamily.primary");
}

.rich-text-ul li p,
.rich-text-ol li p {
  @apply py-0 leading-7;
}

.rich-text-ul li p {
  @apply font-bold text-m1;
}
/* End Text Styles */

/* Call to Action */
.primary-link,
.secondary-link,
.ghost-link {
  @apply uppercase transition-all duration-200 text-primary-1 font-primary;
}
.primary-link,
.ghost-link {
  @apply px-5 py-4 border-2 border-tertiary-1;
}

.primary-link {
  @apply bg-tertiary-1 hover:bg-secondary-1 hover:border-secondary-1 hover:text-white;
}

.secondary-link {
  @apply border-b-2 border-b-tertiary-1 hover:border-b-secondary-1;
}

.ghost-link {
  @apply hover:bg-tertiary-1;
}

.inline-link {
  @apply text-tertiary-1 font-primary underline hover:font-bold;
}

/* End Call to Action */

/* Main Menu */

/* mobile menu button */
.mobile-menu-btn.open .closed-lines {
  @apply hidden;
}

.mobile-menu-btn.open .open-lines {
  @apply block;
}

.mobile-menu-btn .open-lines {
  @apply hidden;
}
/* End mobile menu button */

/* prevent CTA btn from wrapping right at lg breakpoint */
header nav ~ a {
  white-space: nowrap;
}

.menu ul li,
.menu ul li a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  @apply transition-all relative;
}

.menu ul li.top-level > a,
.menu ul li.top-level > div {
  /* @apply py-4 lg:py-2 text-m3 lg:text-m2 xl:text-m3 font-medium pt-[10px] pb-0 uppercase relative cursor-pointer; */
}

.menu ul li.top-level .submenu li {
  /* @apply font-light text-white normal-case text-m3 py-2 px-3; */
}

@screen xl {
  .menu ul li,
  .menu ul li a {
    /* color: theme("colors.gray.dark"); */
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    @apply transition-all relative;
  }

  .menu ul li.top-level .submenu li {
    @apply p-0;
  }

  .menu > ul li:hover,
  .menu > ul li a:hover,
  .menu > ul li:focus-within,
  .menu > ul li a:focus-within {
    /* background: theme("colors.blue.dark"); */
    color: theme("colors.white");
    @apply transition-all;
  }

  .menu ul li a,
  .menu ul li div.nonlinked {
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;
    @apply py-3 px-5;
  }

  /* top-level items */
  .menu ul li.top-level > a,
  .menu ul li.top-level > div {
    @apply pt-[10px] p-3 uppercase relative cursor-pointer;
  }

  .menu ul li.top-level {
    @apply mx-2 mt-1;
  }

  /* submenus */
  .menu > ul li ul {
    position: absolute;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    min-width: 160px;
    color: theme("colors.white");
    /* background-color: theme("colors.blue.dark"); */
    left: 0;
    @apply transition-all;
  }

  /* submenu items */
  .menu > ul li ul li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: initial;
    font-weight: 300;
  }

  .menu > ul li ul li ul {
    top: 0;
    left: 100%;
  }

  .menu ul li.top-level {
    position: relative;
  }

  .menu ul .top-level:has(.current-page):after {
    content: "";
    position: absolute;
    width: calc(100% - 1.5rem);
    bottom: 0rem;
    left: 0.75rem;
    z-index: -1;
    height: 4px;

    @apply transition-all;
  }

  .menu ul li ul li:hover > *:not(ul),
  .menu ul li ul li:focus-within > *:not(ul),
  .menu ul li ul li .current-page {
    /* background-color: theme("colors.yellow");
    color: theme("colors.gray.dark"); */
  }

  .menu ul li:hover > ul.submenu,
  .menu ul li:focus-within > ul.submenu {
    opacity: 1;
    max-height: 100vh;
    overflow: visible;
  }
}
/* End Main Menu */

/* Modal Component */
.modal-x:hover .modal-x-bg {
  /* @apply fill-gray-dark; */
}

.modal-x:hover .modal-x-line {
  /* @apply fill-yellow; */
}

/* End Modal Component */
