@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400..900&display=swap");

html {
  background-image: none;
  background-color: transparent;
  color: #282c32;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 100%;
}

html * {
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  font-size: 1rem;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

#logo {
  display: none;
}

#container {
  background: transparent;
  box-shadow: none;
  border: none;
}

.wufoo .info {
  border: none;
}

.wufoo ul li {
  width: 100%;
}

.wufoo li.focused {
  background: none !important;
}

.wufoo .info h2 {
  font-family: "Playfair Display", serif;
  color: #003366 !important;
  font-size: 30px;
  margin: 0 0 15px 0;
  font-weight: 700;
  line-height: 1.25;
}

.wufoo li.section h3 {
  font-family: "Playfair Display", serif;
  color: #003366 !important;
  font-size: 20px !important;
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 1.25;
  border: none;
}

.wufoo li.section div {
  font-size: 1rem !important;
}

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select,
.wufoo input[type="file" i] {
  background: #ffffff;
  border: 2px solid #282c32;
  line-height: 1;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  padding: 8px 12px;
}

.wufoo select {
  padding: 7px 10px 7px 10px;
  width: fit-content !important;
}
.wufoo fieldset div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.wufoo fieldset div span {
  width: auto;
}

.wufoo input.checkbox,
.wufoo input.radio {
  width: 1rem;
  height: 1rem;
  margin: 0;
  display: inline;
  vertical-align: middle;
}

.wufoo label.choice {
  margin: 0 0.75rem;
  display: inline;
  width: auto;
  padding: 0;
}

.wufoo label,
.wufoo legend {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  width: 100%;
}

.wufoo label:not(.desc) {
  font-size: 14px;
}

.wufoo fieldset {
  border: 0;
  padding: 0;
}

.wufoo #pickdate111 {
  width: 39px;
  height: 39px;
}

.wufoo input:focus,
.wufoo textarea:focus,
.wufoo select:focus {
  border-color: #ec871b;
  outline: none;
}

.wufoo input[type="submit"] {
  font-family: Lato, Arial, sans-serif;
  background-color: #ec871b;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  border: 0;
  padding: 15px 20px;
  font-weight: 500;
  transition: all 300ms ease;
  cursor: pointer;
  width: auto;
}

.wufoo input[type="file" i]::-webkit-file-upload-button {
  font-family: Lato, Arial, sans-serif;
  border: 2px solid #ec871b;
  background: none;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  padding: 13px 20px;
  font-weight: 500;
  transition: all 300ms ease;
  cursor: pointer;
}

.wufoo input[type="file" i] {
  padding: 0;
}

.wufoo input[type="submit"]:hover,
.wufoo input[type="submit"]:focus {
  background-color: #666699;
  color: #ffffff;
}

.wufoo input[type="file" i]::-webkit-file-upload-button:hover,
.wufoo input[type="file" i]::-webkit-file-upload-button:focus {
  background-color: #ec871b;
}

@media (min-width: 769px) {
  .wufoo h2 {
    font-size: 40px !important;
  }
  .wufoo h3 {
    font-size: 25px !important;
  }
}
